/* html, body {
    overflow-y: visible;
} */

/* body{overflow:hidden;}
svg{
  width:100%;
  height:100%;
  position:absolute;
}

.leafcenter{
  
    transform:scale(0);
  transform-origin:bottom center;
  animation:leafcenter 1s  forwards;
}
@keyframes leafcenter{
  0%{
     transform:scale(0);
    
  }
   100%{
     transform:scale(1);
    
  }
  
}
.leaflower{
    transform:scale(0);
  transform-origin:bottom center;
  animation:leafcenter 1s 1s forwards ;
}


.leafupper{
    transform:scale(0);
  transform-origin:bottom center;
  animation:leafcenter 1s 0.5s forwards ;
}


.branch{
   transform:scale(0);
    animation:branch 0.5s 0s forwards ;
    transform-origin:bottom center;
}

@keyframes branch{
  0%{
     transform:scale(0);
    
  }
   100%{
     transform:scale(1);
    
  }
  
} */

body {
  width: 600px;
  height: 540px;
/* for green sites: */
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' opacity='0.5' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(93%2c 223%2c 143%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c56 C 57.6%2c78.6 172.8%2c158.8 288%2c169 C 403.2%2c179.2 460.8%2c103 576%2c107 C 691.2%2c111 748.8%2c198 864%2c189 C 979.2%2c180 1036.8%2c62.6 1152%2c62 C 1267.2%2c61.4 1382.4%2c161.2 1440%2c186L1440 560L0 560z' fill='rgba(166%2c 225%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c398 C 96%2c408 288%2c465 480%2c448 C 672%2c431 768%2c295.2 960%2c313 C 1152%2c330.8 1344%2c492.2 1440%2c537L1440 560L0 560z' fill='rgba(199%2c 234%2c 172%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

/* for not green sites: */
/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' opacity='0.7' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3222%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient3223)'%3e%3c/rect%3e%3cpath d='M 0%2c10 C 57.6%2c42.4 172.8%2c151.6 288%2c172 C 403.2%2c192.4 460.8%2c109.8 576%2c112 C 691.2%2c114.2 748.8%2c179.8 864%2c183 C 979.2%2c186.2 1036.8%2c126 1152%2c128 C 1267.2%2c130 1382.4%2c180 1440%2c193L1440 560L0 560z' fill='rgba(250%2c 168%2c 152%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c291 C 28.8%2c327.6 86.4%2c462.2 144%2c474 C 201.6%2c485.8 230.4%2c345.2 288%2c350 C 345.6%2c354.8 374.4%2c509.4 432%2c498 C 489.6%2c486.6 518.4%2c307.6 576%2c293 C 633.6%2c278.4 662.4%2c407.6 720%2c425 C 777.6%2c442.4 806.4%2c372.4 864%2c380 C 921.6%2c387.6 950.4%2c471.2 1008%2c463 C 1065.6%2c454.8 1094.4%2c345.6 1152%2c339 C 1209.6%2c332.4 1238.4%2c429.8 1296%2c430 C 1353.6%2c430.2 1411.2%2c358 1440%2c340L1440 560L0 560z' fill='rgba(255%2c 201%2c 181%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3222'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3223'%3e%3cstop stop-color='rgba(255%2c 129%2c 129%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(224%2c 136%2c 136%2c 1)' offset='0.98'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
}