
::selection {
    background: white;
}
::-moz-selection {
    background: white;
}
section {
    text-align: center;
}
section .quote {
    position: absolute;
    left: 21%;
    right: 10%;
    bottom: 0.5%;
    padding: 0px 0 10px 0;
}
section .quote cite {
    color: #444;
    font-family: "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 110%;
    font-size: 1.7em;
    font-variant: small-caps;
}
section .quote cite:before {
    content: '"';
    position: absolute;
    left: -100px;
    top: 100px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 8em;
    text-align: left;
    font-family: Arial;
    letter-spacing: -16px;
    font-style: normal;
    font-weight: bold;
    color: #7b9ab9;
}